body{
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
   
}
.contents {
   
    display: flex;
    width: auto;
    height: 600px;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.logo{
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
h1{
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
.container{
    width: 800px;
  height: 500px;
  border: 3px solid #692be2;
  border-radius: 5px;
  background: #fff;
  overflow: auto;
  display: block;
}

.message{
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-left: 10px;
    min-width: 100px;
    min-height: 35px;
    
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px 12px 6px 15px ;
    margin: 8px 25px;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Quicksand', sans-serif;
}
.left{
    float: left;
    clear:both;
    background-color: #a38ef8;
   
}

.right{
    float: right;
    clear:both;
    background-color: #e1e3ef;
}
.middle{
  text-align: center;
  background-color: #75f871;
  justify-content: center;
}

#send-container{
    display:block;
    margin: auto;
    text-align: center;
    max-width: 1085px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#messageInp{
    width: 340px;
  height: 30px;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #e1e3ef;
}

.btn{
    width: 80px;
  height: 40px;
  padding: 5px 10px;
  outline: none;
  border: 1px solid;
  color: #e1e3ef;
  font-weight: 700;
  border-radius: 10px;
  background-color: #692be2;
  cursor: pointer;
}
.send{
    display: flex;
  justify-content: center;
  height: 30px;
}